[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment sun.gif [Image] 163 KB
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=f25bd91823&view=att&th=15d6239e62d6e613&attid=0.3&disp=safe&realattid=f_j5d1g5g52&zw
Icon=text-html
